* {
  box-sizing: border-box;
}

html, body {

  margin: 0;
  padding: 0;

  background: #000;
  font-family: sans-serif;
  text-align: center;
  color: #ccc;

}

header {
  padding: 1em;
}

header img {

  height: 8em;
  max-width: 90%;
  margin: 2em 0 1em;

}

.greeter {

  width: 100%;
  padding: 1em;

  text-align: center;
  background: #14121d;

}

.greeter h1, .greeter h2 {
  text-transform: uppercase;
}

#halls {

  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#halls > div {

  position: relative;

  width: 18em;
  margin: 1em;

  /* Compensate button overlap: (#channels)*(1em (text) + 2*.5em (padding) + .2em(border)) */
  padding-bottom: calc(1 * (1em + 2 * .5em + .2em));

  background: #000;
  overflow: hidden;
  text-align: center;

}

#halls > div li {
  text-transform: uppercase;
}

#halls img {

  height: 8em;
  margin: 1em;

}

#halls a {

  text-decoration: none;

}

#halls ul {

  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0;
  padding: 0;

}

#halls ul li {

  width: 100%;
  padding: .5em 0;

  list-style: none;
  text-align: center;

}

a {
  color: inherit;
}

a:hover li {
  color: #000;
  background: #2FA4E7;
}

#controls, #stats, .text {

  margin: 1em 0;
  padding: 1em;

}

#stats {
  background: #14121d;
}

#controls img {

  display: block;
  height:10em;
  max-width: 42%;
  margin: 1em auto;

  cursor: pointer;

}

#statsButton {

  padding: .4em;

  background: #14121d;
  cursor: pointer;

}

.text {

  max-width: 42em;
  margin: auto;

  text-align: justify;

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.warning {

  padding: 1em;

  background: #f77;
  color: #222;

}

.talkinfo {
  padding: 0 1em;
}

#langswitch {
  text-align: center;
  display: none;
}

#halls > div:nth-child(4n+1) {outline: 1px solid #6800E7; color: #6800E7;}
#halls > div:nth-child(4n+2) {outline: 1px solid #05B9EC; color: #05B9EC;}
#halls > div:nth-child(4n+3) {outline: 1px solid #02FAE0; color: #02FAE0;}
#halls > div:nth-child(4n+4) {outline: 1px solid #B239FF; color: #B239FF;}

#halls > div:nth-child(4n+1) a li {border-top: 1px solid #6800E7;}
#halls > div:nth-child(4n+2) a li {border-top: 1px solid #05B9EC;}
#halls > div:nth-child(4n+3) a li {border-top: 1px solid #02FAE0;}
#halls > div:nth-child(4n+4) a li {border-top: 1px solid #B239FF;}

#halls > div:nth-child(4n+1) a:hover li {background: #6800E7;}
#halls > div:nth-child(4n+2) a:hover li {background: #05B9EC;}
#halls > div:nth-child(4n+3) a:hover li {background: #02FAE0;}
#halls > div:nth-child(4n+4) a:hover li {background: #B239FF;}
