* {
  box-sizing: border-box;
}

html, body {

  margin: 0;
  padding: 0;

  background: #222;
  font-family: sans-serif;
  text-align: center;
  color: #ccc;

}

header {
  padding: 1em;
}

header img {

  height: 8em;
  max-width: 90%;
  margin: 2em 0 1em;

}

.greeter {

  width: 100%;
  padding: 1em;

  text-align: center;
  background: #333;

}

#halls {

  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#halls > div {

  position: relative;

  min-width: 14em;
  margin: 1em;

  /* Compensate button overlap: 2*(1em (text) + 2*.5em (padding) + .2em(border)) */
  padding-bottom: 4.4em;

  background: #333;
  overflow: hidden;
  text-align: center;

}

#halls img {

  height: 8em;
  margin: 1em;

}

#halls a {

  text-decoration: none;

}

#halls ul {

  position: absolute;
  bottom: 0;

  width: 100%;
  margin: 0;
  padding: 0;

}

#halls ul li {

  width: 100%;
  padding: .5em 0;

  border-top: .2em solid #222;
  list-style: none;
  text-align: center;

}

a {
  color: inherit;
}

a:hover li {
  background: #555;
}

#controls, #stats, .text {

  margin: 1em 0;
  padding: 1em;

}

#stats {
  background: #333;
}

#controls img {

  display: block;
  height:10em;
  max-width: 42%;
  margin: 1em auto;

  cursor: pointer;

}

#statsButton {

  padding: .4em;

  background: #333;
  cursor: pointer;

}

.text {

  max-width: 42em;
  margin: auto;

  text-align: justify;

}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.warning {

  padding: 1em;

  background: #f77;
  color: #222;

}

.talkinfo {
  padding: 0 1em;
}
